#/Binaries
/Binaries/Android
/DerivedDataCache
/Intermediate
/Saved
*.sln
*.sdf
*.suo
*.VC.VC.opendb
*.VC.db
#*.target

!/Build/
/Build/*
!/Build/Android/
/Build/Android/*
!/Build/Android/res

/.vs



